<div class="catalog">

  <div class="submenu">
    <div routerLink="products" routerLinkActive="text-active" class="submenu-item">Prodotti</div>
    <div routerLink="sales" routerLinkActive="text-active" class="submenu-item">Offerte</div>
    <div routerLink="newArrival" routerLinkActive="text-active" class="submenu-item">Nuovi Arrivi</div>
    <div routerLink="outdoorForniture" routerLinkActive="text-active" class="submenu-item">Arredamento Esterno</div>
    <div routerLink="indoorForniture" routerLinkActive="text-active" class="submenu-item">Arredamento Interno</div>
  </div>

  <router-outlet></router-outlet>


</div>
